* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
}
.container {

    margin: 0 auto;
    padding: 20px
    
}

#profile-ctr {
    margin: 0 auto;
    width: auto;
    background: rgba(53, 53, 53, 1.9);
    border-radius: 10px;
    padding: 2px;
}
#profile-ctr > div {
    justify-items: center;
    
}

p {
    text-align: center;
    letter-spacing: 20px;
    font-weight: bold;
}
img {
    width: 20vw;
    height: 20%;
    padding: 20px;
    border-radius: 25px;
}
@media screen and (max-width: 400px) {
    img {
      width: 50px;
      height: 80%;
      padding: 1vh;
      border-radius: 25px;  
    }  
    profile-ctr {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p {
      text-align: left
    }
}
